.header {
    height: 60px;
    width: 100%;
    background-color: #220055;
    position: fixed;
}

.logo {
    float: left;
    width: 60px;
    height: 60px;
    margin-left: 2%;
    background-image: url('../../assets/images/mew3.svg');
    transition: 180ms;
}

.logo:hover {
    cursor: pointer;
    transform: rotate(270deg);
    transition-duration: 270ms;
}

.logo:active {
    transform: rotate(360deg);
    transition-duration: 90ms;
}

.sharethis-inline-share-buttons {
    margin-top: 60px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    justify-content: center;
}

.st-btn:hover {
    top: 2px;
}

.hamburger-menu {
    display: none;
    height: 60px;
    width: 60px;
    cursor: pointer;
}

@media only screen and (max-width: 720px) {
    .sharethis-inline-share-buttons {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

    .logo:hover {
        transform: none;
    }

    .logo:active {
        transform: none;
    }

    .hamburger-menu {
        display: flex;
        float: right;
    }
}
