.navigator {
    float: right;
    width: 40%;
    height: 60px;
    display: flex;
    flex-direction: row;
}

.nav-item {
    width: 20%;
    height: 60px;
    display: flex;
    color: #f8faff;
    justify-content: center;
    align-items: center;
}

.nav-item:hover {
    cursor: pointer;
    background-color: #fff3;
}

@media only screen and (max-width: 720px) {
    .navigator {
        display: none;
    }

    .nav-item {
        display: none;
    }
}